@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {

}

// ≥992px
@include media-breakpoint-down(md) {
  .phone-text {
    margin-right: 0;
  }

  .md-footer {
    padding: 20px 50px 20px 50px;
    text-align: center;
    height: auto;

    &__title {
      padding-bottom: 10px;
    }
    &__image {
      display: none;
      //margin-bottom: 10px;

      img {
        height: 26px;
      }
    }
    &__content {
      display: block;
      margin-left: 0;
    }
  }

  .md-content {
    padding: 75px 35px 35px 35px;
    height: auto;
  }
}

// ≥768px
@include media-breakpoint-down(sm) {
  .h1 {
    font-size: 65px;
  }

  .catalog-req {
    flex-flow: column;
    text-align: center;
    padding: 20px 15px;
    &__text {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  .project-block {
    &__list {
      display: block;

      &-item {
        width: 100%;
      }
    }
  }

}

// ≥576px
@include media-breakpoint-down(xs) {
  .catalog-req {
    &__button-wrap .button span {
      padding: 20px 15px;
      font-size: 11px;
    }
  }

  .project-block {
    &__subtitle {
      font-size: 13px;
    }
  }

  .catalog-form {
    &__wrap {
      padding: 58px 15px 30px;
    }

    &__title {
      font-size: 16px;
    }

    &__subtitle {
      font-size: 11px;
    }
  }

  .h1 {
    font-size: 45px;
  }

  .md-form {
    &__title {
      font-size: 38px;
    }

    &__description {
      font-size: 11px;
      line-height: 1.7;
    }
  }

  .md-content {
    padding: 75px 15px 25px 15px;
  }

  .md-footer {
    &__image {
      display: none;
    }

    &__text {
      font-size: 11px;
    }

    &__title {
      font-size: 12px;
    }
  }

  .mfp-close.is-default {
    right: 15px;
    top: 15px;
    height: 30px;
    width: 30px;
  }

}


@media all and (max-width: 468px) {
  .md-form {
    &__form{
      .catalog-form {
        &__text {
          font-size: 10px;
        }

        &__input {
          padding: 15px 20px;
        }

        &__button {
          span {
            padding: 15px 30px;
          }
        }
      }
    }

    &__title {
      font-size: 30px;
    }

    &__description {
      font-size: 9px;
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
