/*$font-light: "Gotham Pro Light", sans-serif;
$font-medium: "Gotham Pro Medium", sans-serif;
$font-bold: "Gotham Pro Bold", sans-serif;
$font-black: "Gotham Pro Black", sans-serif;*/
@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue/BebasNeueRegular.eot?") format("eot"), url("../fonts/BebasNeue/BebasNeueRegular.woff2") format("woff2"), url("../fonts/BebasNeue/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeue/BebasNeueRegular.ttf") format("truetype"), url("../fonts/BebasNeue/BebasNeueRegular.svg#BebasNeue") format("svg");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 100;
  src: url("../fonts/BebasNeue/BebasNeueLight.eot?") format("eot"), url("../fonts/BebasNeue/BebasNeueLight.woff2") format("woff2"), url("../fonts/BebasNeue/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeue/BebasNeueLight.ttf") format("truetype"), url("../fonts/BebasNeue/BebasNeueLight.svg#BebasNeue") format("svg");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: 600;
  src: url("../fonts/BebasNeue/BebasNeueMedium.eot?") format("eot"), url("../fonts/BebasNeue/BebasNeueMedium.woff2") format("woff2"), url("../fonts/BebasNeue/BebasNeueMedium.woff") format("woff"), url("../fonts/BebasNeue/BebasNeueMedium.ttf") format("truetype"), url("../fonts/BebasNeue/BebasNeueMedium.svg#BebasNeue") format("svg");
}

@font-face {
  font-family: "BebasNeue";
  font-weight: bold;
  src: url("../fonts/BebasNeue/BebasNeueBold.eot?") format("eot"), url("../fonts/BebasNeue/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeue/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeue/BebasNeueBold.ttf") format("truetype"), url("../fonts/BebasNeue/BebasNeueBold.svg#BebasNeue") format("svg");
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/Muller/MullerRegular.eot?") format("eot"), url("../fonts/Muller/MullerRegular.woff2") format("woff2"), url("../fonts/Muller/MullerRegular.woff") format("woff"), url("../fonts/Muller/MullerRegular.ttf") format("truetype"), url("../fonts/Muller/MullerRegular.svg#Muller") format("svg");
}

@font-face {
  font-family: "Muller";
  font-weight: 100;
  src: url("../fonts/Muller/MullerLight.eot?") format("eot"), url("../fonts/Muller/MullerLight.woff2") format("woff2"), url("../fonts/Muller/MullerLight.woff") format("woff"), url("../fonts/Muller/MullerLight.ttf") format("truetype"), url("../fonts/Muller/MullerLight.svg#Muller") format("svg");
}

@font-face {
  font-family: "Muller";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Muller/MullerLightItalic.eot?") format("eot"), url("../fonts/Muller/MullerLightItalic.woff2") format("woff2"), url("../fonts/Muller/MullerLightItalic.woff") format("woff"), url("../fonts/Muller/MullerLightItalic.ttf") format("truetype"), url("../fonts/Muller/MullerLightItalic.svg#Muller") format("svg");
}

@font-face {
  font-family: "Muller";
  font-weight: 600;
  src: url("../fonts/Muller/MullerMedium.eot?") format("eot"), url("../fonts/Muller/MullerMedium.woff2") format("woff2"), url("../fonts/Muller/MullerMedium.woff") format("woff"), url("../fonts/Muller/MullerMedium.ttf") format("truetype"), url("../fonts/Muller/MullerMedium.svg#Muller") format("svg");
}

@font-face {
  font-family: "Muller";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Muller/MullerMediumItalic.eot?") format("eot"), url("../fonts/Muller/MullerMediumItalic.woff2") format("woff2"), url("../fonts/Muller/MullerMediumItalic.woff") format("woff"), url("../fonts/Muller/MullerMediumItalic.ttf") format("truetype"), url("../fonts/Muller/MullerMediumItalic.svg#Muller") format("svg");
}

@font-face {
  font-family: "Muller";
  font-weight: bold;
  src: url("../fonts/Muller/MullerBold.eot?") format("eot"), url("../fonts/Muller/MullerBold.woff2") format("woff2"), url("../fonts/Muller/MullerBold.woff") format("woff"), url("../fonts/Muller/MullerBold.ttf") format("truetype"), url("../fonts/Muller/MullerBold.svg#Muller") format("svg");
}

@font-face {
  font-family: "Muller";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Muller/MullerBoldItalic.eot?") format("eot"), url("../fonts/Muller/MullerBoldItalic.woff2") format("woff2"), url("../fonts/Muller/MullerBoldItalic.woff") format("woff"), url("../fonts/Muller/MullerBoldItalic.ttf") format("truetype"), url("../fonts/Muller/MullerBoldItalic.svg#Muller") format("svg");
}

@font-face {
  font-family: "Muller";
  font-weight: 900;
  src: url("../fonts/Muller/MullerBlack.eot?") format("eot"), url("../fonts/Muller/MullerBlack.woff2") format("woff2"), url("../fonts/Muller/MullerBlack.woff") format("woff"), url("../fonts/Muller/MullerBlack.ttf") format("truetype"), url("../fonts/Muller/MullerBlack.svg#Muller") format("svg");
}

@font-face {
  font-family: "Muller";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/Muller/MullerBlackItalic.eot?") format("eot"), url("../fonts/Muller/MullerBlackItalic.woff2") format("woff2"), url("../fonts/Muller/MullerBlackItalic.woff") format("woff"), url("../fonts/Muller/MullerBlackItalic.ttf") format("truetype"), url("../fonts/Muller/MullerBlackItalic.svg#Muller") format("svg");
}

a:active, a:focus {
  text-decoration: none;
  color: inherit;
}

/* CONFIG STYLES Please do not delete and edit CSS styles below */
/* IMPORTANT THIS STYLES MUST BE ON FINAL EMAIL */
#outlook a {
  padding: 0;
}

.ExternalClass {
  width: 100%;
}

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

.es-button {
  mso-style-priority: 100 !important;
  text-decoration: none !important;
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

.es-desk-hidden {
  display: none;
  float: left;
  overflow: hidden;
  width: 0;
  max-height: 0;
  line-height: 0;
  mso-hide: all;
}

/* END OF IMPORTANT */
html,
body {
  width: 100%;
  font-family: arial, 'helvetica neue', helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

table {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  border-collapse: collapse;
  border-spacing: 0px;
}

table td,
html,
body,
.es-wrapper {
  padding: 0;
  Margin: 0;
}

.es-content,
.es-header,
.es-footer {
  table-layout: fixed !important;
  width: 100%;
}

img {
  display: block;
  border: 0;
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
}

table tr {
  border-collapse: collapse;
}

p,
hr {
  Margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  Margin: 0;
  line-height: 120%;
  mso-line-height-rule: exactly;
  font-family: arial, 'helvetica neue', helvetica, sans-serif;
}

p,
ul li,
ol li,
a {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  mso-line-height-rule: exactly;
}

.es-left {
  float: left;
}

.es-right {
  float: right;
}

.es-p5 {
  padding: 5px;
}

.es-p5t {
  padding-top: 5px;
}

.es-p5b {
  padding-bottom: 5px;
}

.es-p5l {
  padding-left: 5px;
}

.es-p5r {
  padding-right: 5px;
}

.es-p10 {
  padding: 10px;
}

.es-p10t {
  padding-top: 10px;
}

.es-p10b {
  padding-bottom: 10px;
}

.es-p10l {
  padding-left: 10px;
}

.es-p10r {
  padding-right: 10px;
}

.es-p15 {
  padding: 15px;
}

.es-p15t {
  padding-top: 15px;
}

.es-p15b {
  padding-bottom: 15px;
}

.es-p15l {
  padding-left: 15px;
}

.es-p15r {
  padding-right: 15px;
}

.es-p20 {
  padding: 20px;
}

.es-p20t {
  padding-top: 20px;
}

.es-p20b {
  padding-bottom: 20px;
}

.es-p20l {
  padding-left: 20px;
}

.es-p20r {
  padding-right: 20px;
}

.es-p25 {
  padding: 25px;
}

.es-p25t {
  padding-top: 25px;
}

.es-p25b {
  padding-bottom: 25px;
}

.es-p25l {
  padding-left: 25px;
}

.es-p25r {
  padding-right: 25px;
}

.es-p30 {
  padding: 30px;
}

.es-p30t {
  padding-top: 30px;
}

.es-p30b {
  padding-bottom: 30px;
}

.es-p30l {
  padding-left: 30px;
}

.es-p30r {
  padding-right: 30px;
}

.es-p35 {
  padding: 35px;
}

.es-p35t {
  padding-top: 35px;
}

.es-p35b {
  padding-bottom: 35px;
}

.es-p35l {
  padding-left: 35px;
}

.es-p35r {
  padding-right: 35px;
}

.es-p40 {
  padding: 40px;
}

.es-p40t {
  padding-top: 40px;
}

.es-p40b {
  padding-bottom: 40px;
}

.es-p40l {
  padding-left: 40px;
}

.es-p40r {
  padding-right: 40px;
}

.es-menu td {
  border: 0;
}

.es-menu td a img {
  display: inline !important;
}

/* END CONFIG STYLES */
a {
  font-family: arial, 'helvetica neue', helvetica, sans-serif;
  font-size: 14px;
  text-decoration: underline;
}

h1 {
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  color: #333333;
}

h1 a {
  font-size: 30px;
}

h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  color: #333333;
}

h2 a {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  color: #333333;
}

h3 a {
  font-size: 20px;
}

p,
ul li,
ol li {
  font-size: 14px;
  font-family: arial, 'helvetica neue', helvetica, sans-serif;
  line-height: 150%;
}

ul li,
ol li {
  Margin-bottom: 15px;
}

.es-menu td a {
  text-decoration: none;
  display: block;
}

.es-wrapper {
  width: 100%;
  height: 100%;
  background-image: none;
  background-repeat: repeat;
  background-position: center top;
}

.es-wrapper-color {
  background-color: #ffffff;
}

.es-content-body {
  background-color: #ffffff;
}

.es-content-body p,
.es-content-body ul li,
.es-content-body ol li {
  color: #333333;
}

.es-content-body a {
  color: #311790;
}

.es-header {
  background-color: transparent;
  background-image: none;
  background-repeat: repeat;
  background-position: center top;
}

.es-header-body {
  background-color: transparent;
}

.es-header-body p,
.es-header-body ul li,
.es-header-body ol li {
  color: #333333;
  font-size: 14px;
}

.es-header-body a {
  color: #1376c8;
  font-size: 14px;
}

.es-footer {
  background-color: transparent;
  background-image: none;
  background-repeat: repeat;
  background-position: center top;
}

.es-footer-body {
  background-color: transparent;
}

.es-footer-body p,
.es-footer-body ul li,
.es-footer-body ol li {
  color: #333333;
  font-size: 14px;
}

.es-footer-body a {
  color: #1376c8;
  font-size: 14px;
}

.es-infoblock,
.es-infoblock p,
.es-infoblock ul li,
.es-infoblock ol li {
  line-height: 120%;
  font-size: 12px;
  color: #cccccc;
}

.es-infoblock a {
  font-size: 12px;
  color: #cccccc;
}

a.es-button {
  border-style: solid;
  border-color: #4a2faf;
  border-width: 10px 40px 10px 40px;
  display: inline-block;
  background: #4a2faf;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  font-family: arial, 'helvetica neue', helvetica, sans-serif;
  font-style: normal;
  line-height: 250%;
  color: #ffffff;
  text-decoration: none !important;
  width: auto;
  text-align: center;
}

.es-button-border {
  border-style: solid solid solid solid;
  border-color: #2cb543 #2cb543 #2cb543 #2cb543;
  background: #2cb543;
  border-width: 0px 0px 2px 0px;
  display: inline-block;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  width: auto;
}

/* RESPONSIVE STYLES Please do not delete and edit CSS styles below. If you don't need responsive layout, please delete this section. */
@media only screen and (max-width: 600px) {
  p,
  ul li,
  ol li,
  a {
    font-size: 16px !important;
  }
  h1 {
    font-size: 30px !important;
    text-align: center;
  }
  h2 {
    font-size: 26px !important;
    text-align: center;
  }
  h3 {
    font-size: 20px !important;
    text-align: center;
  }
  h1 a {
    font-size: 30px !important;
  }
  h2 a {
    font-size: 26px !important;
  }
  h3 a {
    font-size: 20px !important;
  }
  .es-menu td a {
    font-size: 16px !important;
  }
  .es-header-body p,
  .es-header-body ul li,
  .es-header-body ol li,
  .es-header-body a {
    font-size: 16px !important;
  }
  .es-footer-body p,
  .es-footer-body ul li,
  .es-footer-body ol li,
  .es-footer-body a {
    font-size: 16px !important;
  }
  .es-infoblock p,
  .es-infoblock ul li,
  .es-infoblock ol li,
  .es-infoblock a {
    font-size: 12px !important;
  }
  *[class="gmail-fix"] {
    display: none !important;
  }
  .es-m-txt-c,
  .es-m-txt-c h1,
  .es-m-txt-c h2,
  .es-m-txt-c h3 {
    text-align: center !important;
  }
  .es-m-txt-r,
  .es-m-txt-r h1,
  .es-m-txt-r h2,
  .es-m-txt-r h3 {
    text-align: right !important;
  }
  .es-m-txt-l,
  .es-m-txt-l h1,
  .es-m-txt-l h2,
  .es-m-txt-l h3 {
    text-align: left !important;
  }
  .es-m-txt-r a img,
  .es-m-txt-c a img,
  .es-m-txt-l a img {
    display: inline !important;
  }
  .es-button-border {
    display: block !important;
  }
  .es-button {
    font-size: 20px !important;
    display: block !important;
    border-width: 10px 0px 10px 0px !important;
  }
  .es-btn-fw {
    border-width: 10px 0px !important;
    text-align: center !important;
  }
  .es-adaptive table,
  .es-btn-fw,
  .es-btn-fw-brdr,
  .es-left,
  .es-right {
    width: 100% !important;
  }
  .es-content table,
  .es-header table,
  .es-footer table,
  .es-content,
  .es-footer,
  .es-header {
    width: 100% !important;
    max-width: 600px !important;
  }
  .es-adapt-td {
    display: block !important;
    width: 100% !important;
  }
  .adapt-img {
    width: 100% !important;
    height: auto !important;
  }
  .es-m-p0 {
    padding: 0px !important;
  }
  .es-m-p0r {
    padding-right: 0px !important;
  }
  .es-m-p0l {
    padding-left: 0px !important;
  }
  .es-m-p0t {
    padding-top: 0px !important;
  }
  .es-m-p0b {
    padding-bottom: 0 !important;
  }
  .es-m-p20b {
    padding-bottom: 20px !important;
  }
  .es-mobile-hidden,
  .es-hidden {
    display: none !important;
  }
  .es-desk-hidden {
    display: table-row !important;
    width: auto !important;
    overflow: visible !important;
    float: none !important;
    max-height: inherit !important;
    line-height: inherit !important;
  }
  .es-desk-menu-hidden {
    display: table-cell !important;
  }
  table.es-table-not-adapt,
  .esd-block-html table {
    width: auto !important;
  }
  table.es-social {
    display: inline-block !important;
  }
  table.es-social td {
    display: inline-block !important;
  }
  table.es-table-not-adapt,
  .esd-block-html table {
    width: auto !important;
  }
}

.email__body {
  border: 8px solid #f2f2f4;
  border-bottom: 2px solid #f2f2f4;
  border-top: none;
}

.email__body.is-main {
  border: 8px solid #f2f2f4;
  border-bottom: 2px solid #f2f2f4;
}

.email__body.is-last {
  border-bottom: 8px solid #f2f2f4;
}

.email__link {
  color: #311790;
}

.email__ava {
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.email__text-small {
  font-size: 12px;
  color: #9b9797;
  line-height: 1.5;
  padding-top: 6px;
}

.email__text-normal {
  font-size: 14px;
  padding: 9px 0;
}

.email__text-title {
  font-weight: bold;
  font-size: 18px;
}

.email__quote {
  color: #ff8e00;
}

.email__client {
  width: 60%;
}

.email__button-more {
  text-align: center;
}

.email__plate {
  padding: 5px 17px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #fff;
}

.email__plate-content {
  -webkit-box-shadow: 1px 2px 11px -3px rgba(0, 0, 0, 0.62);
          box-shadow: 1px 2px 11px -3px rgba(0, 0, 0, 0.62);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.email__plate-td {
  padding-bottom: 20px;
}

.email__plate-td.is-last {
  padding-bottom: 30px;
}

p {
  line-height: 1.6;
}

h2 {
  font-weight: bold;
}
